*
!.gitignore
!README.md
!LICENSE.md
!*.mat
!*.m
!*.slx
!*.pdf
!*.png
!*.jpeg
!*/*.mat
!*/*.m
!*/*.slx
!*/*.pdf
!*/*.png
!*/*.jpeg
!*/*/*.mat
!*/*/*.m
!*/*/*.slx
!*/*/*.pdf
!*/*/*.png
!*/*/*.jpeg
!*/*/*/*.mat
!*/*/*/*.m
!*/*/*/*.slx
!*/*/*/*.pdf
!*/*/*/*.png
!*/*/*/*.jpeg
!*/*
!*/*/*
!*/*/*/*